h1 {text-decoration: underline;}
#formulario {
    color: blue;
    background-color: lightblue;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-decoration: underline;
}
p {
    color: black;
    background-color: lightblue;
}
body {
    color: black;
    background-color: lightblue;
}




.contenedorFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}